body {
  background-color: rgb(22, 13, 6);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  color: white;
  padding: 10px;
}

h1 {
  font-size: 36px;
  font-style: bold;
}

h2 {
  font-size: 40px;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 18px;
  font-style: italic;
}

p {
  font-size: 18px;
  font-style: italic;
}

form {
  display: flex;
  border: solid 1px;
  margin: auto;
  background-color: rgb(145, 105, 69);
  padding: 15px;
  justify-content: center;
  width: 300px;
  flex-direction: column;
  border-radius: 25px;
  /* align-items: flex-start; */
}

#big-details{
  width: 40%;
  position: relative;
  top: -350px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  margin-inline-start: 10%;
  word-wrap: break-word;
  border:solid 5px rgb(128, 92, 25);
  display:none;

}
.details{
  margin: auto;
  text-align: center;

}
img.details{
  position: absolute;
  bottom: 60px;
}

#hot-coffees,
#cold-coffees {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 50px;
}


img {
  align-items: center;
  width: 75%;
  height: 75%;
}

.coffee-pics {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
  /* border: solid 1px;
  border-radius: 25px;
  background-color: rgba(145, 105, 69, 0.096); */
  width: 200px;
  height: 200px;

}

.coffee-pics:hover {
  transform: scale(1.5);
}

fieldset {
  border-style: none;
}

#coffee-details {
  position: center;
  background-color: rgba(236, 206, 183, 0.679);
  padding: 20px;
  display: none;
  align-items: center;
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

#coffee-details img {
  width: 500px;
  height: auto;
}
